<div class="jumbotron">
  <h1 class="display-4">@nowzoo/ngx-app-msg</h1>
  <p class="lead">
    App-wide messaging service and component.
  </p>
  <p>
    <a href="https://github.com/nowzoo/ngx/blob/master/projects/ngx-app-msg/README.md" class="btn btn-primary mr-4">
      Docs
    </a>
    <a href="https://github.com/nowzoo/ngx/tree/master/projects/ngx-app-msg" class="btn btn-primary mr-4">
      <i class="fab fa-github"></i> Code on GitHub
    </a>
    <a href="https://www.npmjs.com/package/@nowzoo/ngx-app-msg" class="btn btn-primary">
      <i class="fab fa-npm"></i> NPM
    </a>
  </p>
</div>

<div class="container">
  <p>
    <button type="button" class="btn btn-success mr-4" (click)="service.success('Good for you!')">Success</button>
    <button type="button" class="btn btn-warning mr-4" (click)="service.warn('An error happened!')">Warn</button>
    <button type="button" class="btn btn-info mr-4" (click)="service.wait('Please wait...')">Wait</button>
  </p>
</div>
