<div class="jumbotron">
  <h1 class="display-4">@nowzoo/ngx-fire</h1>
  <p class="lead">
    Directives for binding Angular Reactive form controls and arrays to Firebase references.
  </p>
  <p>
    <a href="https://github.com/nowzoo/ngx/blob/master/projects/ngx-fire/README.md" class="btn btn-primary mr-4">
      Docs
    </a>
    <a href="https://github.com/nowzoo/ngx/tree/master/projects/ngx-fire" class="btn btn-primary mr-4">
      <i class="fab fa-github"></i> Code on GitHub
    </a>
    <a href="https://www.npmjs.com/package/@nowzoo/ngx-fire" class="btn btn-primary">
      <i class="fab fa-npm"></i> NPM
    </a>
  </p>
</div>

<div class="container">
  <div *ngIf="ref">
    <app-demo-control [baseRef]="ref"></app-demo-control>
    <app-demo-array [baseRef]="ref"></app-demo-array>
    <app-demo-nested-array [baseRef]="ref"></app-demo-nested-array>
    <app-demo-radios [baseRef]="ref"></app-demo-radios>
  </div>
</div>
