<div class="jumbotron">
  <h1 class="display-4">@nowzoo/ngx-route-utils</h1>
  <p class="lead">
    Angular router utilities.
  </p>
  <p>
    <a href="https://github.com/nowzoo/ngx/blob/master/projects/ngx-route-utils/README.md" class="btn btn-primary mr-4">
      Docs
    </a>
    <a href="https://github.com/nowzoo/ngx/tree/master/projects/ngx-route-utils" class="btn btn-primary mr-4">
      <i class="fab fa-github"></i> Code on GitHub
    </a>
    <a href="https://www.npmjs.com/package/@nowzoo/ngx-route-utils" class="btn btn-primary">
      <i class="fab fa-npm"></i> NPM
    </a>
  </p>
</div>
<div class="container">
  <h4>Demos</h4>
  <ul>
    <li><a routerLink="./ngx-sign-in-redirect-service">NgxSignInRedirectService Demo</a></li>
  </ul>
</div>
