<div class="container my-4">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="./">NgxSignInRedirectService Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#route-utils-navbar" aria-controls="route-utils-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="route-utils-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./guarded">Guarded Route</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!(auth.signedIn | async)">
          <a class="nav-link" routerLink="./sign-in">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="(auth.signedIn | async)">
          <a href="#" class="nav-link" (click)="auth.signOut(); $event.preventDefault()">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
