<div class="jumbotron">
  <h1 class="display-4">@nowzoo/ngx-form</h1>
  <p class="lead">
    Angular form utilities.
  </p>
  <p>
    <a href="https://github.com/nowzoo/ngx/blob/master/projects/ngx-form/README.md" class="btn btn-primary mr-4">
      Docs
    </a>
    <a href="https://github.com/nowzoo/ngx/tree/master/projects/ngx-form" class="btn btn-primary mr-4">
      <i class="fab fa-github"></i> Code on GitHub
    </a>
    <a href="https://www.npmjs.com/package/@nowzoo/ngx-form" class="btn btn-primary">
      <i class="fab fa-npm"></i> NPM
    </a>
  </p>
</div>
<div class="container">
  <app-demo-error></app-demo-error>
</div>
